form.video-add.hidden(method="post", action="/playlists/#{playlist._id}/videos", role="form")
  input(type='hidden', name='_csrf', value="#{csrf_token}")
  .form-group
    input.form-control(type='text', name="title", placeholder='Title')
    input.form-control(type='text', name="yt_id", placeholder='Youtube ID')
    input.form-control(type='text', name="duration", placeholder='Duration')
  button.btn.btn-primary(type='submit') Add video